{% extends "base.html" %}
{% load static %}
{% block header_menu %}
    <ul>
        <li><a href="/">Головна</a>
            <ul class="header__menu__dropdown">
                <li><a href="/#discount">Знижки</a></li>
                <li><a href="/#featured">Найпопулярніше</a></li>
                <li><a href="/#latest_product">Нові товари</a></li>
                <li><a href="/#latest_product">Рейтинг товарів</a></li>
            </ul>
        </li>
        <li><a href="#" class="active">Товари</a>
            <ul class="header__menu__dropdown">
                {% for category in categories %}
                    <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Сторінки</a>
            <ul class="header__menu__dropdown">
                <li><a href="shop-details.html">Сторінка продукта</a></li>
                <li><a href="shoping-cart.html">Корзина</a></li>
                <li><a href="checkout.html">Оформлення замовлення</a></li>
            </ul>
        </li>
        <li><a href={% url "main_page:contact_page" %}>Контакти</a></li>
        {% if user.is_staff %}
            <li><a href={% url "toscana_admin:messages_list" %}>Повідомлення</a></li>
        {% endif %}
    </ul>
{% endblock header_menu %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Категорії</span>
                        </div>
                        <ul>
                            {% for category in categories %}
                                <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% include "hero_search_block.html" %}
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Кошик</h2>
                        <div class="breadcrumb__option">
                            <a href="/"><i class="fa icon_house"></i></a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={% url "cart:cart_detail" %}>Кошик</a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={% url "orders:order_create" %}>Оформити замовлення</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <h6><span class="icon_tag_alt"></span> Є купон на знижку? <a href="#">Натисніть тут</a>, щоб ввести купон</h6>#}
{#                </div>#}
{#            </div>#}
            <div class="checkout__form">
                <h4>Деталі оплати</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
{#                            <div class="row">#}
{#                                <div class="col-lg-6">#}
{#                                    <div class="checkout__input">#}
{#                                        <p>Ім'я<span>*</span></p>#}
{#                                        <input type="text">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6">#}
{#                                    <div class="checkout__input">#}
{#                                        <p>Прізвище<span>*</span></p>#}
{#                                        <input type="text">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="checkout__input">#}
{#                                <p>Країна<span>*</span></p>#}
{#                                <input type="text">#}
{#                            </div>#}
{#                            <div class="checkout__input">#}
{#                                <p>Адреса<span>*</span></p>#}
{#                                <input type="text" placeholder="Вулиця, будинок" class="checkout__input__add">#}
{#                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)">#}
{#                            </div>#}
{#                            <div class="checkout__input">#}
{#                                <p>Місто<span>*</span></p>#}
{#                                <input type="text">#}
{#                            </div>#}
{#                            <div class="row">#}
{#                                <div class="col-lg-6">#}
{#                                    <div class="checkout__input">#}
{#                                        <p>Телефон<span>*</span></p>#}
{#                                        <input type="text">#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-lg-6">#}
{#                                    <div class="checkout__input">#}
{#                                        <p>Електронна пошта<span>*</span></p>#}
{#                                        <input type="text">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </form>
{#                            <div class="checkout__input__checkbox">#}
{#                                <label for="acc">#}
{#                                    Create an account?#}
{#                                    <input type="checkbox" id="acc">#}
{#                                    <span class="checkmark"></span>#}
{#                                </label>#}
{#                            </div>#}
{#                            <p>Create an account by entering the information below. If you are a returning customer#}
{#                                please login at the top of the page</p>#}
{#                            <div class="checkout__input">#}
{#                                <p>Account Password<span>*</span></p>#}
{#                                <input type="text">#}
{#                            </div>#}
{#                            <div class="checkout__input__checkbox">#}
{#                                <label for="diff-acc">#}
{#                                    Ship to a different address?#}
{#                                    <input type="checkbox" id="diff-acc">#}
{#                                    <span class="checkmark"></span>#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="checkout__input">#}
{#                                <p>Order notes<span>*</span></p>#}
{#                                <input type="text"#}
{#                                    placeholder="Notes about your order, e.g. special notes for delivery.">#}
{#                            </div>#}
{#                        </div>#}
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Ваше замовлення</h4>
                                <div class="checkout__order__products">Товари <span>Всього</span></div>
                                <ul>
                                    {% for item in cart %}
                                        <li>{{ item.furniture.name }} x{{ item.quantity }} <span>{{ item.total_price }} грн.</span></li>
                                    {% endfor %}
                                </ul>
{#                                <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>#}
                                <div class="checkout__order__total">Всього <span>{{ cart.get_total_price }} грн.</span></div>
                                <div class="checkout__input__checkbox">
                                    <label for="acc-or">
                                        Create an account?
                                        <input type="checkbox" id="acc-or">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adip elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua.</p>
                                <div class="checkout__input__checkbox">
                                    <label for="payment">
                                        Check Payment
                                        <input type="checkbox" id="payment">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="checkout__input__checkbox">
                                    <label for="paypal">
                                        Paypal
                                        <input type="checkbox" id="paypal">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <button type="submit" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock content %}