{% load static %}
<section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-1">
                    <div class="latest-product__text">
                        <h4>Нові товари</h4>
                        <div class="latest-product__slider owl-carousel">
                        {% for group in latest_furnitures %}
                            <div class="latest-prdouct__slider__item">
                                {% for furniture in group %}
                                    <a href="#" class="latest-product__item">
                                        <div class="set-bg latest-product__item__pic" data-setbg="{{ furniture.photo.url }}">
                                            <img src="{% static "img/transparent.png" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ furniture.name }}</h6>
                                            <span>{{ furniture.price }} грн.</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-1">
                    <div class="latest-product__text">
                        <h4>Рейтинг товарів</h4>
                        <div class="latest-product__slider owl-carousel">
                        {% for group in toprated_furnitures %}
                            <div class="latest-product__slider__item">
                                {% for furniture in group %}
                                    <a href="#" class="latest-product__item">
                                        <div class="set-bg latest-product__item__pic" data-setbg="{{ furniture.photo.url }}">
                                            <img src="{% static "img/transparent.png" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>{{ furniture.name }}</h6>
                                            <span>{{ furniture.price }} грн.</span>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>