{% extends "base.html" %}
{% load static %}

{#{% block humberger %}#}
{#    <!-- Humberger Begin -->#}
{#    <div class="humberger__menu__overlay"></div>#}
{#    <div class="humberger__menu__wrapper">#}
{#        <div class="humberger__menu__logo">#}
{#            <a href="#"><img src="{% static "img/logo.png" %}" alt=""></a>#}
{#        </div>#}
{#        <div class="humberger__menu__cart">#}
{#            <ul>#}
{#                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>#}
{#                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>#}
{#            </ul>#}
{#            <div class="header__cart__price">item: <span>$150.00</span></div>#}
{#        </div>#}
{#        <div class="humberger__menu__widget">#}
{#            <div class="header__top__right__language">#}
{#                <img src="{% static "img/language.png" %}" alt="">#}
{#                <div>English</div>#}
{#                <span class="arrow_carrot-down"></span>#}
{#                <ul>#}
{#                    <li><a href="#">Spanis</a></li>#}
{#                    <li><a href="#">English</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="header__top__right__auth">#}
{#                <a href="#"><i class="fa fa-user"></i> Login</a>#}
{#            </div>#}
{#        </div>#}
{#        <nav class="humberger__menu__nav mobile-menu">#}
{#            <ul>#}
{#                <li class="active"><a href="/">Home</a></li>#}
{#                <li><a href="shop-grid.html">Shop</a></li>#}
{#                <li><a href="#">Pages</a>#}
{#                    <ul class="header__menu__dropdown">#}
{#                        <li><a href="shop-details.html">Shop Details</a></li>#}
{#                        <li><a href="shoping-cart.html">Shoping Cart</a></li>#}
{#                        <li><a href="checkout.html">Check Out</a></li>#}
{#                        <li><a href="blog-details.html">Blog Details</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li><a href="blog.html">Blog</a></li>#}
{#                <li><a href="contact.html">Contact</a></li>#}
{#            </ul>#}
{#        </nav>#}
{#        <div id="mobile-menu-wrap"></div>#}
{#        <div class="header__top__right__social">#}
{#            <a href="#"><i class="fa fa-facebook"></i></a>#}
{#            <a href="#"><i class="fa fa-twitter"></i></a>#}
{#            <a href="#"><i class="fa fa-linkedin"></i></a>#}
{#            <a href="#"><i class="fa fa-pinterest-p"></i></a>#}
{#        </div>#}
{#        <div class="humberger__menu__contact">#}
{#            <ul>#}
{#                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>#}
{#                <li>Free Shipping for all Order of $99</li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#    <!-- Humberger End -->#}
{#{% endblock humberger %}#}

{% block header_menu %}
    <div class="col-lg-3 col-md-3 hero">
        {% include "hero_categories_block.html" %}
    </div>

    <div class="col-lg-9 col-md-9">
        <div class="row">
            <div class="col-lg-8">
                <ul>
                    <li class="active"><a href="/">Головна</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="/#featured">Найпопулярніше</a></li>
                            <li><a href="/#latest_product">Нові товари</a></li>
                            <li><a href="/#latest_product">Рейтинг товарів</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Товари</a>
                        <ul class="header__menu__dropdown">
                            {% for category in categories %}
                                <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/#discount">Знижки</a></li>
                    <li><a href={% url "main_page:contact_page" %}>Контакти</a></li>
                </ul>
                {% if user.is_staff %}
                    <ul>
                        <li><a href={% url "toscana_admin:messages_list" %}>Повідомлення</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {% include "main_page_hero.html" %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__item set-bg" data-setbg="{% static "img/hero/banner.jpg" %}">
                    <div class="hero__text">
                        <span>Меблі</span>
                        <h2>Меблі <br />100% з дерева</h2>
                        <p>Бескоштовна доставка і зборка в наявності</p>
                        <a href="#" class="primary-btn">КУПУЙ ЗАРАЗ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock header_menu %}

{% block content %}

    {% include "main_page_discount.html" %}
    {% include "main_page_featured.html" %}
    {% include "main_page_banner.html" %}
    {% include "main_page_latest_product.html" %}

{% endblock content %}