{% load static %}
<section id="latest_product" class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-1">
                    <div class="latest-product__text">
                        <h4>Нові товари</h4>
                        <div class="latest-product__slider owl-carousel">
                        {% for group in latest_furnitures %}
                            <div class="latest-prdouct__slider__item">
                                {% for furniture in group %}
                                    <a href={{ furniture.get_absolute_url }} class="latest-product__item">
                                        <div class="set-bg latest-product__item__pic" data-setbg="{{ furniture.photo.url }}">
                                            <img src="{% static "img/transparent.png" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h3>{{ furniture.name }}</h3>
                                            <h5>{{ furniture.price }} грн.</h5>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-5 offset-1">
                    <div class="latest-product__text">
                        <h4>Випадкові товари</h4>
                        <div class="latest-product__slider owl-carousel">
                        {% for group in random_furnitures %}
                            <div class="latest-product__slider__item">
                                {% for furniture in group %}
                                    <a href={{ furniture.get_absolute_url }} class="latest-product__item">
                                        <div class="set-bg latest-product__item__pic" data-setbg="{{ furniture.photo.url }}">
                                            <img src="{% static "img/transparent.png" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h3>{{ furniture.name }}</h3>
                                            <h5>{{ furniture.price }} грн.</h5>
                                        </div>
                                    </a>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>