{% load static %}
<section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Категорії</span>
                        </div>
                        <ul>
                            {% for category in categories %}
                                <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% include "hero_search_block.html" %}
                    <div class="hero__item set-bg" data-setbg="{% static "img/hero/banner.jpg" %}">
                        <div class="hero__text">
                            <span>Меблі</span>
                            <h2>Меблі <br />100% з дерева</h2>
                            <p>Бескоштовна доставка і зборка в наявності</p>
                            <a href="#" class="primary-btn">КУПУЙ ЗАРАЗ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>