{% extends "base.html" %}
{% load static %}
{% block header_menu %}
    <div class="col-lg-3 col-md-3 hero hero-normal">
        {% include "hero_categories_block.html" %}
    </div>

    <div class="col-lg-9 col-md-9">
        <div class="row">
            <div class="col-lg-8">
                <ul>
                    <li><a href="/">Головна</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="/#featured">Найпопулярніше</a></li>
                            <li><a href="/#latest_product">Нові товари</a></li>
                            <li><a href="/#latest_product">Рейтинг товарів</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Товари</a>
                        <ul class="header__menu__dropdown">
                            {% for category in categories %}
                                <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/#discount">Знижки</a></li>
                    <li><a href={% url "main_page:contact_page" %}>Контакти</a></li>
                </ul>
                {% if user.is_staff %}
                    <ul>
                        <li><a href={% url "toscana_admin:messages_list" %}>Повідомлення</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {% include "main_page_hero.html" %}
            </div>
        </div>
    </div>
{% endblock header_menu %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}" id="category-info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ category.name }}</h2>
                        <div class="breadcrumb__option">
                            <a href="/"><i class="fa icon_house"></i></a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={{ category.get_absolute_url }}>Товари</a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={{ category.get_absolute_url }}>{{ category.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
{#                <div class="col-lg-2 col-md-4">#}
{#                    <div class="sidebar">#}
{#                        <div class="sidebar__item">#}
{#                            <h4>Категорії</h4>#}
{#                            <ul>#}
{#                                {% for category in categories %}#}
{#                                    <li><a href="#">{{ category.name }}</a></li>#}
{#                                {% endfor %}#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="sidebar__item">#}
{#                            <h4>Ціна</h4>#}
{#                            <div class="price-range-wrap">#}
{#                                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"#}
{#                                    data-min="10" data-max="540">#}
{#                                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>#}
{#                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>#}
{#                                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>#}
{#                                </div>#}
{#                                <div class="range-slider">#}
{#                                    <div class="price-input">#}
{#                                        <input type="text" id="minamount">#}
{#                                        <input type="text" id="maxamount">#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="sidebar__item sidebar__item__color--option">#}
{#                            <h4>Colors</h4>#}
{#                            <div class="sidebar__item__color sidebar__item__color--white">#}
{#                                <label for="white">#}
{#                                    White#}
{#                                    <input type="radio" id="white">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__color sidebar__item__color--gray">#}
{#                                <label for="gray">#}
{#                                    Gray#}
{#                                    <input type="radio" id="gray">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__color sidebar__item__color--red">#}
{#                                <label for="red">#}
{#                                    Red#}
{#                                    <input type="radio" id="red">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__color sidebar__item__color--black">#}
{#                                <label for="black">#}
{#                                    Black#}
{#                                    <input type="radio" id="black">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__color sidebar__item__color--blue">#}
{#                                <label for="blue">#}
{#                                    Blue#}
{#                                    <input type="radio" id="blue">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__color sidebar__item__color--green">#}
{#                                <label for="green">#}
{#                                    Green#}
{#                                    <input type="radio" id="green">#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="sidebar__item">#}
{#                            <h4>Popular Size</h4>#}
{#                            <div class="sidebar__item__size">#}
{#                                <label for="large">#}
{#                                    Large#}
{#                                    <input type="radio" id="large">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__size">#}
{#                                <label for="medium">#}
{#                                    Medium#}
{#                                    <input type="radio" id="medium">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__size">#}
{#                                <label for="small">#}
{#                                    Small#}
{#                                    <input type="radio" id="small">#}
{#                                </label>#}
{#                            </div>#}
{#                            <div class="sidebar__item__size">#}
{#                                <label for="tiny">#}
{#                                    Tiny#}
{#                                    <input type="radio" id="tiny">#}
{#                                </label>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-lg-12 col-md-12">
{#                    <div class="filter__item">#}
{#                        <div class="row">#}
{#                            <div class="col-lg-4 col-md-5">#}
{#                                <div class="filter__sort">#}
{#                                    <span>Sort By</span>#}
{#                                    <select>#}
{#                                        <option value="0">Default</option>#}
{#                                        <option value="0">Default</option>#}
{#                                    </select>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-4">#}
{#                                <div class="filter__found">#}
{#                                    <h6><span>16</span> Products found</h6>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-lg-4 col-md-3">#}
{#                                <div class="filter__option">#}
{#                                    <span class="icon_grid-2x2"></span>#}
{#                                    <span class="icon_ul"></span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="row">
                        {% for furniture in furnitures_of_category %}
                            <div class="col-lg-3 col-md-4 col-sm-4">
                                <div class="featured__item">
                                    <div class="featured__item__pic set-bg" data-setbg={{ furniture.photo.url }}>
                                        <a href={{ furniture.get_absolute_url }}><div class="featured__item__pic"></div></a>
                                        <ul class="featured__item__pic__hover">
{#                                               <li><a href="#"><i class="fa fa-heart"></i></a></li>#}
                                            <li><a href={% url "cart:cart_add" furniture.id %}><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product__item__text">
                                        <h3 class="category-info"><a href={{ furniture.get_absolute_url }}>{{ furniture.name }}</a></h3>
                                        <h4>{{ furniture.price }} грн.</h4>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="product__pagination text-center">
                        {% if furnitures_of_category.has_previous %}
                            <a href="?page=1">&#10094;&#10094;</a>
                            <a href="?page={{ furnitures_of_category.previous_page_number }}">&#10094;</a>
                        {% endif %}

                        {% for page in furnitures_of_category.paginator.page_range %}
                            {% if page == furnitures_of_category.number %}
                                <a href="#" class="active-page">{{ page }}</a>
                            {% else %}
                                <a href="?page={{ page }}">{{ page }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if furnitures_of_category.has_next %}
                            <a href="?page={{ furnitures_of_category.next_page_number }}">&#10095;</a>
                            <a href="?page={{ furnitures_of_category.paginator.num_pages }}">&#10095;&#10095;</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock content %}