{% extends "base.html" %}
{% load static %}
{% block header_menu %}
    <ul>
        <li><a href="/">Головна</a>
            <ul class="header__menu__dropdown">
                <li><a href="/#discount">Знижки</a></li>
                <li><a href="/#featured">Найпопулярніше</a></li>
                <li><a href="/#latest_product">Нові товари</a></li>
                <li><a href="/#latest_product">Рейтинг товарів</a></li>
            </ul>
        </li>
        <li class="active"><a href="#">Товари</a>
            <ul class="header__menu__dropdown">
                {% for category in categories %}
                    <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Сторінки</a>
            <ul class="header__menu__dropdown">
                <li><a href="shop-details.html">Сторінка продукта</a></li>
                <li><a href="shoping-cart.html">Корзина</a></li>
                <li><a href="checkout.html">Оформлення замовлення</a></li>
            </ul>
        </li>
        <li><a href={% url "main_page:contact_page" %}>Контакти</a></li>
        {% if user.is_staff %}
            <li><a href={% url "toscana_admin:messages_list" %}>Повідомлення</a></li>
        {% endif %}
    </ul>
{% endblock header_menu %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ furniture.name }}</h2>
                        <div class="breadcrumb__option">
                            <a href="/"><i class="fa icon_house"></i></a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={{ furniture.category.get_absolute_url }}>Товари</a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={{ furniture.category.get_absolute_url }}>{{ furniture.category.name }}</a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <span>{{ furniture.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src={{ furniture.photo.url }} alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl={{ furniture.photo.url }}
                                    src={{ furniture.photo.url }} alt="">
                            {% for furniture_photo in furniture.photos.all %}
                                <img data-imgbigurl={{ furniture_photo.photo.url }}
                                    src={{ furniture_photo.photo.url }} alt="">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="product__details__text">
                        <h3>{{ furniture.name }}</h3>
                        <div class="product__details__price">{{ furniture.price }} грн.</div>
                        <p>{{ furniture.desc }}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" value="1">
                                </div>
                            </div>
                        </div>
                        <a href={% url "cart:cart_add" furniture.id %} class="primary-btn">Добавити в кошик</a>
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span> 10000 вподобань</a>
                        <ul>
                            <li><b>Наявність</b>
                                {% if furniture.available %}<span class="product-available">&ensp;<i class="fa fa-check-circle"></i>&ensp;Є в наявності&ensp;</span>
                                {% else %}<span class="product-no-available">&ensp;<i class="fa fa-minus-circle"></i>&ensp;Немає в наявності&ensp;</span>
                                {% endif %}
                            </li>
                            <li><b>Доставка</b><span> По всій <samp>Україні</samp></span></li>
                            <li><b>Розміри</b><span> {{ furniture.size }}</span></li>
                        </ul>
                    </div>
                </div>
{#                <div class="col-lg-12">#}
{#                    <div class="product__details__tab">#}
{#                        <ul class="nav nav-tabs" role="tablist">#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"#}
{#                                    aria-selected="true">Description</a>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"#}
{#                                    aria-selected="false">Information</a>#}
{#                            </li>#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"#}
{#                                    aria-selected="false">Reviews <span>(1)</span></a>#}
{#                            </li>#}
{#                        </ul>#}
{#                        <div class="tab-content">#}
{#                            <div class="tab-pane active" id="tabs-1" role="tabpanel">#}
{#                                <div class="product__details__tab__desc">#}
{#                                    <h6>Products Infomation</h6>#}
{#                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.#}
{#                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Vivamus#}
{#                                        suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam#}
{#                                        vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada.#}
{#                                        Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur arcu erat,#}
{#                                        accumsan id imperdiet et, porttitor at sem. Praesent sapien massa, convallis a#}
{#                                        pellentesque nec, egestas non nisi. Vestibulum ac diam sit amet quam vehicula#}
{#                                        elementum sed sit amet dui. Vestibulum ante ipsum primis in faucibus orci luctus#}
{#                                        et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam#}
{#                                        vel, ullamcorper sit amet ligula. Proin eget tortor risus.</p>#}
{#                                        <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem#}
{#                                        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet#}
{#                                        elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum#}
{#                                        porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus#}
{#                                        nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.#}
{#                                        Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed#}
{#                                        porttitor lectus nibh. Vestibulum ac diam sit amet quam vehicula elementum#}
{#                                        sed sit amet dui. Proin eget tortor risus.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="tab-pane" id="tabs-2" role="tabpanel">#}
{#                                <div class="product__details__tab__desc">#}
{#                                    <h6>Products Infomation</h6>#}
{#                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.#}
{#                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.#}
{#                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam#}
{#                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo#}
{#                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.#}
{#                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent#}
{#                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac#}
{#                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante#}
{#                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;#}
{#                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.#}
{#                                        Proin eget tortor risus.</p>#}
{#                                    <p>Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Lorem#}
{#                                        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit aliquet#}
{#                                        elit, eget tincidunt nibh pulvinar a. Cras ultricies ligula sed magna dictum#}
{#                                        porta. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus#}
{#                                        nibh. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="tab-pane" id="tabs-3" role="tabpanel">#}
{#                                <div class="product__details__tab__desc">#}
{#                                    <h6>Products Infomation</h6>#}
{#                                    <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.#}
{#                                        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.#}
{#                                        Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam#}
{#                                        sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo#}
{#                                        eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat.#}
{#                                        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Praesent#}
{#                                        sapien massa, convallis a pellentesque nec, egestas non nisi. Vestibulum ac#}
{#                                        diam sit amet quam vehicula elementum sed sit amet dui. Vestibulum ante#}
{#                                        ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;#}
{#                                        Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.#}
{#                                        Proin eget tortor risus.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Пов'язані товари</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for furniture in related_furnitures %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg" data-setbg={{ furniture.photo.url }}>
                                <a href={{ furniture.get_absolute_url }}><div class="product__item__pic"></div></a>
                                <ul class="product__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h3 class="category-info"><a href={{ furniture.get_absolute_url }}>{{ furniture.name }}</a></h3>
                                <h4>{{ furniture.price }} грн.</h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

{% endblock content %}