{% extends "base.html" %}
{% load static %}
{% block header_menu %}
    <div class="col-lg-3 col-md-3 hero hero-normal">
        {% include "hero_categories_block.html" %}
    </div>

    <div class="col-lg-9 col-md-9">
        <div class="row">
            <div class="col-lg-8">
                <ul>
                    <li><a href="/">Головна <h1><i class="icon_house"></i></h1></a>
                        <ul class="header__menu__dropdown">
                            <li><a href="/#featured">Найпопулярніше</a></li>
                            <li><a href="/#latest_product">Нові товари</a></li>
                            <li><a href="/#latest_product">Рейтинг товарів</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="#">Товари <h1><i class="icon_gift"></i></h1></a>
                        <ul class="header__menu__dropdown">
                            {% for category in categories %}
                                <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="/#discount">Знижки <h1><i class="icon_percent_alt"></i></h1></a></li>
                    <li><a href={% url "main_page:contact_page" %}>Контакти <h1><i class="fa fa-address-book"></i></h1></a></li>
                </ul>
                {% if user.is_staff %}
                    <ul>
                        <li><a href={% url "toscana_admin:messages_list" %}>Повідомлення</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                {% endif %}
            </div>
            <div class="col-lg-4">
                {% include "main_page_hero.html" %}
            </div>
        </div>
    </div>
{% endblock header_menu %}

{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Кошик</h2>
                        <div class="breadcrumb__option">
                            <a href="/"><i class="fa icon_house"></i></a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={% url "cart:cart_detail" %}>Кошик</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Товари</th>
                                    <th>Ціна</th>
                                    <th>Кількість</th>
                                    <th>Всього</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart %}
                                    {% with furniture=item.furniture %}
                                        <tr>
                                            <td class="shoping__cart__item">
                                                <div class="featured__item">
                                                    <div class="featured__item__pic set-bg" data-setbg={{ furniture.photo.url }} alt="">
                                                        <a href={{ furniture.get_absolute_url }}><div class="featured__item__pic"></div></a>
                                                    </div>
                                                    <div class="product__item__text">
                                                        <h3 class="category-info"><a href={{ furniture.get_absolute_url }}>{{ furniture.name }}</a></h3>
                                                    </div>
                                                </div>
{#                                                <img src={{ furniture.photo.url }} alt="">#}
                                            </td>
                                            <td class="shoping__cart__price">{{ item.price }} грн.</td>
                                            <td class="shoping__cart__quantity">
{#                                                <div class="quantity">#}
{#                                                    <div class="pro-qty">#}
{#                                                        {{ item.quantity }}#}
        {#                                                <input type="text" value="1">#}
{#                                                    </div>#}
{#                                                </div>#}
                                                x{{ item.quantity }}
                                            </td>
                                            <td class="shoping__cart__total">{{ item.total_price }} грн.</td>
                                            <td class="shoping__cart__item__close">
                                                <a href={% url "cart:cart_remove" furniture.id %}><span class="icon_trash_alt"></span></a>
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="shoping__cart__btns">
                        <a href="/" class="primary-btn cart-btn">ПРОДОВЖИТИ ПОКУПКИ</a>
{#                        <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>#}
{#                            Upadate Cart</a>#}
                    </div>
                </div>
                    <div class="col-lg-8 col-md-8 col-sm-8">
                        <div class="shoping__checkout">
                            <h5>До оплати</h5>
                            <ul>
    {#                            <li>Subtotal <span>$454.98</span></li>#}
                                <li>Всього <span>{{ cart.get_total_price }} грн.</span></li>
                            </ul>
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    <a href={% url "orders:order_create" %} class="primary-btn">ОФОРМИТИ ЗАМОВЛЕННЯ</a>
                                {% else %}
                                    <p class="blocked-btn">КОШИК ПУСТИЙ</p>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
{#                <div class="col-lg-6">#}
{#                    <div class="shoping__continue">#}
{#                        <div class="shoping__discount">#}
{#                            <h5>Купони</h5>#}
{#                            <form action="#">#}
{#                                <input type="text" placeholder="Введіть ваш купон">#}
{#                                <button type="submit" class="site-btn">ВИКОРИСТАТИ КУПОН</button>#}
{#                            </form>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->
{% endblock content %}