{% extends "base.html" %}
{% load static %}

{% block header_menu %}
    <ul>
        <li><a href="/">Головна</a>
            <ul class="header__menu__dropdown">
                <li><a href="/#discount">Знижки</a></li>
                <li><a href="/#featured">Найпопулярніше</a></li>
                <li><a href="/#latest_product">Нові товари</a></li>
                <li><a href="/#latest_product">Рейтинг товарів</a></li>
            </ul>
        </li>
        <li><a href="#">Товари</a>
            <ul class="header__menu__dropdown">
                {% for category in categories %}
                    <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="#">Сторінки</a>
            <ul class="header__menu__dropdown">
                <li><a href="shop-details.html">Сторінка продукта</a></li>
                <li><a href="shoping-cart.html">Корзина</a></li>
                <li><a href="checkout.html">Оформлення замовлення</a></li>
            </ul>
        </li>
        <li class="active"><a href={% url "main_page:contact_page" %}>Контакти</a></li>
        {% if user.is_staff %}
            <li><a href={% url "toscana_admin:messages_list" %}>Повідомлення</a></li>
        {% endif %}
    </ul>
{% endblock header_menu %}

{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Категорії</span>
                        </div>
                        <ul>
                            {% for category in categories %}
                                <li><a href={{ category.get_absolute_url }}>{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    {% include "hero_search_block.html" %}
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static "img/breadcrumb.jpg" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Контакти</h2>
                        <div class="breadcrumb__option">
                            <a href="/"><i class="fa icon_house"></i></a>&ensp;<span><i class="fa fa-long-arrow-right"></i></span>
                            <a href={% url "main_page:contact_page" %}>Контакти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="fa fa-phone"></span>
                        <h4>Телефон</h4>
                        <p>{{ phone }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin"></span>
                        <h4>Адреса</h4>
                        <p>{{ address }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock"></span>
                        <h4>Робочий час</h4>
                        <p>{{ working_hours }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail"></span>
                        <h4>Електронна<br>пошта</h4>
                        <p>{{ email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d339.35670203590325!2d22.296582465847067!3d48.61812959326012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd916923f36817fe1!2z0JzQtdCx0LvQtdCy0LjQuSDRgdCw0LvQvtC9IFRPU0NBTkE!5e0!3m2!1sru!2sua!4v1620820918396!5m2!1sru!2sua"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        <div class="map-inside">
{#            <i class="icon_pin"></i>#}
            <div class="inside-widget">
                <h4>Меблевий салон TOSCANA</h4>
                <ul>
                    <li>Телефон: {{ phone }}</li>
                    <li>Адреса: {{ address }}</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->

    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Залиште повідомлення</h2>
                    </div>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        {% csrf_token %}
                        {{ form.user_name }}
{#                        <input type="text" placeholder="Ім'я">#}
                    </div>
                    <div class="col-lg-6 col-md-6">
                        {% csrf_token %}
                        {{ form.user_email }}
{#                        <input type="email" placeholder="Електронна пошта">#}
                    </div>
                    <div class="col-lg-12 text-center">
                        {% csrf_token %}
                        {{ form.user_message }}
{#                        <textarea placeholder="Повідомлення"></textarea>#}
                        <button type="submit" class="site-btn">Відправити</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->
{% endblock content %}